@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@400;500;700&family=Open+Sans:wght@400;600;700&display=swap'); /* Google font pour importer des fonts */
/* Font(s) actuelle(s) : Open sans, Exo 2 */

html, body {
    margin: 0;
}

body{
    font-family: 'Open sans', sans-serif;
    font-size: large;   
}

nav {
    display: flex;
    width: 100wv;
    height: 1.5rem;
    justify-content: space-between;
    align-items: center;
    background-color: #D8BFAA ; /* On peut changer la couleur, je l'ai juste mis pour séparer le nav du reste du site */
    padding: 1.2rem 2%;
}

nav .left,
nav .right {
    display: flex;
    align-items: center;
}

nav .left img {
    display: block;
    width: clamp(2.7rem, 10vw, 3.7rem); /* clamp(taille_min, taille préférée, taille_max) */
}

nav .left a {
    font-family: 'Exo 2', sans-serif;
    font-size: clamp(1.4rem, 4.6vw, 2.4rem); /* clamp(taille_min, taille préférée, taille_max) */

    color: rgb(43, 37, 22);
    text-decoration: none;
    cursor: pointer;
}

nav .right {
    gap: 2rem;
}

nav .right a,
p {
    font-size: clamp(0.8rem, 3.2vw, 1.2rem); /* clamp(taille_min, taille préférée, taille_max) */
    color: rgba(43, 37, 22, 0.851);
    font-weight: 600;
    text-decoration: none;
    text-wrap: nowrap;
}

nav a:hover {
    text-decoration: underline;
}

.search {
    width: fit-content;
    background-color:#ab9076;
    border-radius: 15px;
}

.search form {
  display: flex;
  align-items: center;
}

.search input {
    display: block;   
    height: clamp(1rem, 7vw, 2.5rem); /* clamp(taille_min, taille préférée, taille_max) */
    width: clamp(9rem, 17vw, 18rem); /* clamp(taille_min, taille préférée, taille_max) */;
    border-radius: 15px;
    border: none;
    padding: 0 0.5rem;
    box-sizing: border-box; 

    font-family: 'Open sans', sans-serif;
    font-size: clamp(0.7rem, 2vw, 0.9rem); /* clamp(taille_min, taille préférée, taille_max) */
    color: rgb(43, 37, 22);
}

.search input:focus { /* s'active quand on remplie le formulaire */
    outline: none; /* supprime le contour bleu de base */
}

.search button {
    background-color: #ab9076;
    background-image: url("/search_icon.png");
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;

    width: clamp(1rem, 7vw, 2.5rem); /* clamp(taille_min, taille préférée, taille_max) */;
    height: clamp(1rem, 7vw, 2.5rem); /* clamp(taille_min, taille préférée, taille_max) */;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

.search:hover {
    box-shadow: 2px 0 6px #ffffff5f;
}


.add{
    display: block;
    margin-left: 5px;
    padding: 1rem 2rem;
    border: none;
}


.signalements{
    margin: 2rem auto;
    border-spacing: 5rem 0.5rem;
    
}

.signalements th, .signalements td{
    padding: 1rem 1rem;
    border: 1px solid black;
}

h1.title {
    position: relative; /* Obligatoire pour avoir un élément ::before ou ::after */
    margin-left: 2%;
    font-size: clamp(1.7rem, 5vw, 2.7rem); /* clamp(taille_min, taille préférée, taille_max) */
    width: fit-content;
    color: rgb(43, 37, 22);
    text-wrap: nowrap; /* Le texte sera toujours sur une seule ligne */
}



h1.title::before { /* Effet souligné */
    content: ''; /* Obligatoire pour un element ::before ou ::after */
    position: absolute; /* Permet à l'élément d'être à une position fixe (x,y) */
    bottom: -0.5rem; 
    left: 0;
    width: 100%;
    height: 0.2rem;
    background-color: #A67C52;
}



div.formulaire {
    margin: 2%;
}

div.formulaire h2 {
    font-size: clamp(1.2rem, 3vw, 1.8rem); /* clamp(taille_min, taille préférée, taille_max) */
    width: fit-content;
    color: rgba(43, 37, 22, 0.851);
}

div.formulaire textarea {
    resize: none; /* empêche l’utilisateur d'étirer le textarea */
    padding: 10px;
    width: 70%;

    border: 2px solid #A67C52;
    border-radius: 10px;

    font-family: 'Open sans', sans-serif;
    font-size: clamp(0.875rem, 2vw, 1rem); /* clamp(taille_min, taille préférée, taille_max) */
    color: rgb(43, 37, 22);
}

div.formulaire textarea:focus { /* s'active quand on remplie le formulaire */
    outline: none; /* supprime le contour bleu de base */
    border: 3px solid #D8BFAA; 
}

div.formulaire button {
    display: flex; /* necessaire pour centrer verticalement et horizontalement */
    justify-content: center; /* centre horizontalement */
    align-items: center;     /* centre verticalement */
    
    margin-top: 2%;
    padding: 0.5rem 1rem;    /* padding top/bottom  left/right */
    width: fit-content;

    border: 3px solid rgba(166, 124, 82, 0.55);
    border-radius: 15px;

    background-color: #ab9076;

    font-size: clamp(1rem, 2vw, 1.2rem);
    color: rgb(255, 255, 255);

    cursor: pointer;
    transition: background-color 0.4s ease; /* transition pour hover */
}

div.formulaire button:hover { /* Comportement quand on est sur le button */
    background-color: #8C6239;
}


div.login_page {
    width : fit-content; 
    margin: 0 auto; 
    padding: 0.5rem 1rem; 
    margin-top: 7%;
    border: 4px solid #A67C52; 
    border-radius: 15px;
    justify-content: center;
    align-items: center;
}

p.error {
    color: red;
    text-align: center;
    font-weight: bold;
}


/* Pour changer certains attributs pour que ça soit responsive sur mobile */
@media (max-width: 500px) { 
    nav .left a {
        font-size: 1.2rem;
    }

    nav .right {
        gap: 0.5rem;
    }

    nav .right a {
        font-size: 0.8rem;
    }

    .search input {
        width: 7rem;
    }

    h1.title {
        margin: auto;
        margin-top: 1rem;
        font-size: 1.5rem;
    }

    h1.title::before {
        height: 0.15rem;
    }

    div.formulaire {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    div.formulaire textarea {
        width: 80%;
    }

    div.formulaire h2 {
        font-size: 1rem;
    }

    div.login_page {
        width : 80%; 
        margin-top: 20%;
        font-size: 0.9rem;
        box-sizing: border-box; /* Pour que le padding ne déborde pas du div */
    }

}
