@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@400;500;700&family=Open+Sans:wght@400;600;700&display=swap'); /* Google font pour importer des fonts */
/* Font(s) actuelle(s) : Open sans, Exo 2 */

html, body {
    margin: 0;
}

body{
    font-family: 'Open sans', sans-serif;
    font-size: large;   
}

nav {
    display: flex;
    width: 100wv;
    height: 1.5rem;
    justify-content: space-between;
    align-items: center;
    background-color: #D8BFAA ; /* On peut changer la couleur, je l'ai juste mis pour séparer le nav du reste du site */
    padding: 1.2rem 2%;
}

nav .left,
nav .right {
    display: flex;
    align-items: center;
}

nav .left img {
    display: block;
    width: clamp(2.7rem, 10vw, 3.7rem); /* clamp(taille_min, taille préférée, taille_max) */
}

nav .left a {
    font-family: 'Exo 2', sans-serif;
    font-size: clamp(1.4rem, 4.6vw, 2.4rem); /* clamp(taille_min, taille préférée, taille_max) */

    color: rgb(43, 37, 22);
    text-decoration: none;
    cursor: pointer;
}

nav .right {
    gap: 2rem;
}

nav .right a,
a.report,
span.brown,
p {
    font-size: clamp(0.8rem, 3.2vw, 1.2rem); /* clamp(taille_min, taille préférée, taille_max) */
    color: rgba(43, 37, 22, 0.851);
    font-weight: 600;
    text-decoration: none;
    text-wrap: nowrap;
}

nav a:hover {
    text-decoration: underline;
}

.search {
    width: fit-content;
    background-color:#ab9076;
    border-radius: 15px;
}

.search form {
  display: flex;
  align-items: center;

}

.search input {
    display: block;   
    height: clamp(1rem, 7vw, 2.5rem); /* clamp(taille_min, taille préférée, taille_max) */
    width: clamp(9rem, 17vw, 18rem); /* clamp(taille_min, taille préférée, taille_max) */;
    border-radius: 15px;
    border: none;
    padding: 0 0.5rem;
    box-sizing: border-box; 

    font-family: 'Open sans', sans-serif;
    font-size: clamp(0.7rem, 2vw, 0.9rem); /* clamp(taille_min, taille préférée, taille_max) */
    color: rgb(43, 37, 22);
}

.search input:focus { /* s'active quand on remplie le formulaire */
    outline: none; /* supprime le contour bleu de base */
}


.search button {
    background-color: #ab9076;
    background-image: url("/search_icon.png");
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;

    width: clamp(1rem, 7vw, 2.5rem); /* clamp(taille_min, taille préférée, taille_max) */;
    height: clamp(1rem, 7vw, 2.5rem); /* clamp(taille_min, taille préférée, taille_max) */;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

.search:hover {
    box-shadow: 2px 0 6px #ffffff5f;
}


h1.title {
    position: relative; /* Obligatoire pour avoir un élément ::before ou ::after */
    margin-left: 2%;
    font-size: clamp(1.7rem, 5vw, 2.7rem); /* clamp(taille_min, taille préférée, taille_max) */
    width: fit-content;
    color: rgb(43, 37, 22);
    text-wrap: nowrap; /* Le texte sera toujours sur une seule ligne */
}



h1.title::before { /* Effet souligné */
    content: ''; /* Obligatoire pour un element ::before ou ::after */
    position: absolute; /* Permet à l'élément d'être à une position fixe (x,y) */
    bottom: -0.5rem; 
    left: 0;
    width: 100%;
    height: 0.2rem;
    background-color: #A67C52;
}


div.formulaire {
    margin: 2%;
}

div.formulaire h2 {
    font-size: clamp(1.2rem, 3vw, 1.8rem); /* clamp(taille_min, taille préférée, taille_max) */
    width: fit-content;
    color: rgba(43, 37, 22, 0.851);
}

div.formulaire textarea {
    resize: none; /* empêche l’utilisateur d'étirer le textarea */
    padding: 10px;
    width: 70%;

    border: 2px solid #A67C52;
    border-radius: 10px;

    font-family: 'Open sans', sans-serif;
    font-size: clamp(0.875rem, 2vw, 1rem); /* clamp(taille_min, taille préférée, taille_max) */
    color: rgb(43, 37, 22);
}

div.formulaire textarea:focus { /* s'active quand on remplie le formulaire */
    outline: none; /* supprime le contour bleu de base */
    border: 3px solid #D8BFAA; 
}

div.formulaire button,
button.popUp {
    display: flex; /* necessaire pour centrer verticalement et horizontalement */
    justify-content: center; /* centre horizontalement */
    align-items: center;     /* centre verticalement */
    margin-top: 2%;
    padding: 0.5rem 1rem;    /* padding top/bottom  left/right */
    width: fit-content;

    border: 3px solid rgba(166, 124, 82, 0.55);
    border-radius: 15px;

    background-color: #ab9076;

    font-size: clamp(1rem, 2vw, 1.2rem);
    color: rgb(255, 255, 255);

    cursor: pointer;
    transition: background-color 0.4s ease; /* transition pour hover */
}

div.formulaire button:hover,
button.popUp:hover { /* Comportement quand on est sur le button */
    background-color: #8C6239;
}


div.login_page {
    width: 56%; 
    max-width: 400px; /* évite que le cadre devienne trop grand sur les grands écrans */
    margin: 5% auto 4%; /* haut, gauche/droite, bas */
    padding: 2rem; /* espace intérieur plus confortable */
    border: 3.5px solid #A67C52;
    border-radius: 15px;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem; /* pour rendre le texte plus lisible */
}

div.popup {
  display: none; /* Cachée par défaut mais modifiable dans le js static */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Centre la popUp en + de top et left */
  overflow-y: auto; /* permet de scroller */

  width: 80%;
  max-height: 80vh;
  padding: 2rem;
  z-index: 100; /* Juste pour dire qu'il s'affiche à l'avant plan*/

  background: white;
  border: 3px solid rgba(166, 124, 82, 0.55);
  border-radius: 15px;
}

button.popUp {
    margin-left: 2%;
}

button.close-btn {
  background-color: #ff4557;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button.close-btn:hover {
  background-color: #dc3545;
}


p.error {
    color: red;
    font-weight: bold;
    font-size: clamp(0.7rem, 1vw, 1.4rem);
}



span.brown span { /* pour entourer que la partie de la date */
    border: 3px solid #D8BFAA; 
    border-radius: 7px;
    padding: 0.1em 0.3em; 
}

div.info {
    display: flex;
    justify-content: space-between;
    padding: 2%;
    padding-bottom: 1%;
}

/* le tableau avec les signalements */
table.signalements{
    margin: 2rem auto;
    text-size-adjust: 100%;
    margin-top: 4%;
    border: 2px solid rgba(166, 124, 82, 0.55); 
    border-spacing: 5rem 0.5rem;
    border-collapse: collapse; /* pour que la bordure du tableau html se fonde à celle qu'on créé avec border */
    width: 80%;
}

table.signalements th, table.signalements td {
    padding: 1rem 1rem;
    border: 2px solid rgba(166, 124, 82, 0.55); 
    padding: 8px;
    text-align: center;
}

table.signalements th{
    background-color: #D8BFAA;
}

table.signalements tr:hover{ /* hover sert à faire en sorte que lorsqu'on clique sur une case du tableau celle-ci change de couleur */
    background-color: #cdc0b7;
    transition: 0.5s; /* le temps qu'il faut pour le changement de couleur */
}



/* Pour changer certains attributs pour que ça soit responsive sur mobile */
@media (max-width: 500px) { 
    nav .left a {
        font-size: 1.2rem;
    }

    nav .right {
        gap: 0.5rem;
    }

    nav .right a {
        font-size: 0.8rem;
    }

    .search input {
        width: 7rem;
    }

    h1.title {
        margin: auto;
        margin-top: 1rem;
        font-size: 1.5rem;
    }

    h1.title::before {
        height: 0.15rem;
    }

    button.popUp,
    p.error {
        margin: auto;
        margin-top: 1.5rem;
    }

    div.info {
        padding-top: 5%;
        padding-bottom: 10%;
    }

    div.formulaire {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    div.formulaire textarea {
        width: 80%;
    }

    div.formulaire h2 {
        font-size: 1rem;
    }

    div.login_page {
        width : 80%; 
        max-width: 600px;   /* empêche la boîte de devenir trop large */
        min-width: 250px; 
        margin-top: 4%;
        margin-bottom: 4%;
        padding: 1rem;
        font-size: 0.9rem;
        box-sizing: border-box;   /* sert pour la largeur ppour pas qu'elle soit trop grande */    
    }


    table.signalements {
        width: 100%;            
        min-width: 300px;
        margin: 0 auto;
        table-layout: auto;      /* les colonnes s’adaptent au contenu */
        border-collapse: collapse;
    }


    table.signalements th, table.signalements td {
        padding: 0.5rem 1rem;
        font-size: 0.75rem;        /* rendre le texte lisible sur petit écran */
        white-space: normal;
        overflow-wrap: break-word; /* coupe les mots s'ils sont trop long pour la ligne */
        word-break: break-word;   
    }
}
