<!doctype html>
<html lang="fr">

<head>
    <meta charset="utf-8" />
    <title>Fix_mycity</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/app.js" defer></script>
    <link rel="icon" href="/logo.jpg">
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <nav>
        <div class="left">
            <img src="/logo.jpg">
            <a href="/">FixMyCity</a>
        </div>
    
        <div class="right">
            <div class="search">
                <form action="#">
                    <input type="text" name="barre de Recherche" placeholder="Adresse">
                    <button type="submit"></button>
                </form>
            </div>
            <% if (username) { %>
                <p> <%= username %> !</p>
            
            <% }else {%>
            <a href="/login">Se connecter</a><%} %>
        </div>
    </nav>
    <div class="milieu">
        <button class="add">
            <a href="/report">Signaler</a>
        </button>
        <table class="signalements">
            <thead>
                <tr>
                    <th>Description</th>
                    <th>Adresse</th>
                    <th>Rapporté par</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                <td>nid de poule</td>
                <td>place de l'université 1</td>
                <td>user87</td>
                <td>30/09/2025</td>
            </tbody>
        </table>
    </div>
</body>

</html>