<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>(nom du site)</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../static/app.js" defer></script>
    <link rel="stylesheet" href="../static/style.css">
</head>

<body>
    <div class="haut">
        <div class="home">
            <a href="index.html">Accueil</a>
        </div>
        <form action="#">
            <input type="text" name="barre de Recherche" placeholder="Rechercher">
            <button type="submit">chercher</button>
        </form>
        <div >
            <a href="login.html">Se connecter</a>
        </div>
    </div>
    <div class="cas1">
        <h2>Compte existant</h2>
        <form action="##">
            <p>
                <label>Nom d'utilisateur : </label>
                <input type="text"><br>
            </p>
            <p>
                <label>Mot de passe : </label>
                <input type="password" id="mdp">
            </p>
            <p>
                <button name="connection">S'identifier</button>
            </p>
        </form>
    </div>
    <div class="cas2">
        <h2>Nouveau compte</h2>
        <form action="###">
            <p>
                <label>Nom d'utilisateur : </label>
                <input type="text"><br>
            </p>
            <p>
                <label>Mot de passe : </label>
                <input type="password" id="mdp"><br>
            </p>
            <p>
                <label>Nom complet : </label>
                <input type="text"><br>
            </p>
            <p>
                <label>Adresse e-mail : </label>
                <input type="email" id="mailBox"><br>
            </p>
            <p>
                <button type="submit" name="Enregistrement">S'enregistrer</button>
            </p>
        </form>


    </div>
    
</body>

</html>