<!doctype html>
<html lang="fr">

<head>
    <meta charset="utf-8" />
    <title>FixMyCity | Signaler un incident</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/script.js" defer></script>
    <link rel="icon" href="/logo.jpg">
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <nav>
        <div class="left">
            <img src="/logo.jpg">
            <a href="/">FixMyCity</a>
        </div>
    
        <div class="right">

            <% if (username) { %>
                <p><%= username %></p>
            
            <% } else { %>
            <a href="/login">Se connecter</a>
            <% } %>

        </div>
    </nav>
    
    <h1 class="title">Signaler un nouvel incident</h1>
    
    <!-- Bouton qui ouvre la pop-up -->
    <p>
        <button class="popUp" onclick="openPopup()">Règles de syntax</button>
    </p>
    
    <!-- Pop-up -->
    <div class="popup" id="popUp">
        <h1 class="title">Description</h1>
        <ul>
            <li>
                <p>Doit contenir entre <strong>20</strong> et <strong>400 caractères</strong></p>
            </li>
        </ul>
    
        <h1 class="title">Adresse</h1>
        <ul>
            <li>
                <p>Doit contenir entre <strong>10</strong> et <strong>100 caractères</strong></p>
            </li>
            <li>
                <p>Ne doit pas contenir les caractères spéciaux :</p>
                <ul>
                    <li>
                        <p><strong>&lt; &gt; @ # $ %</strong></p>
                    </li>
                </ul>
            </li>
        </ul>
    
        <button class="close-btn" onclick="closePopup()">X</button>
    </div>
    <!-- Fin de la Pop-up -->

    <form method="post">
        <div class="formulaire">
    
        <h2>Description</h2>
        <textarea name="description" rows="15" required></textarea>

        <h2>Adresse</h2>
        <textarea name="adresse" rows="7" required></textarea>

        <% if (error) { %>
            <p class="error"><%= error %></p>
        <% } %>

        <br>
        <button type="submit">Soumettre</button>
        </div>
    </form>
</body>

</html>